# Dependencies
node_modules
.pnpm-store

# Next.js build outputs
.next
out

# Testing & Coverage
test-results
coverage
playwright-report

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Firebase & Cloud
.firebase
.runtimeconfig.json
